@font-face {
  font-family: "iconfont"; /* Project id 4635514 */
  src: url('iconfont.woff2?t=1722146077585') format('woff2'),
       url('iconfont.woff?t=1722146077585') format('woff'),
       url('iconfont.ttf?t=1722146077585') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuihuobaozhang:before {
  content: "\e600";
}

.icon-huodongyouxian:before {
  content: "\e601";
}

.icon-tianmaopaidui:before {
  content: "\e602";
}

.icon-shengriliwu:before {
  content: "\e603";
}

.icon-jisutuikuan:before {
  content: "\e604";
}

.icon-kefuyouxian:before {
  content: "\e605";
}

.icon-chaozhijifen:before {
  content: "\e606";
}

.icon-tianmaohaoquan:before {
  content: "\e607";
}

.icon-liebiao:before {
  content: "\e608";
}

.icon-chongzhi:before {
  content: "\e609";
}

.icon-leqi:before {
  content: "\e60a";
}

.icon-bingxiang:before {
  content: "\e60b";
}

.icon-kafei:before {
  content: "\e60c";
}

.icon-yaopin:before {
  content: "\e60d";
}

.icon-hanbao:before {
  content: "\e60e";
}

.icon-kouhong:before {
  content: "\e60f";
}

.icon-bangqiu:before {
  content: "\e610";
}

.icon-Txu:before {
  content: "\e611";
}

.icon-nvbao:before {
  content: "\e612";
}

.icon-shafa:before {
  content: "\e613";
}

.icon-naiping:before {
  content: "\e614";
}

.icon-tushu:before {
  content: "\e615";
}

.icon-shouji:before {
  content: "\e616";
}

.icon-xiai:before {
  content: "\e617";
}

.icon-liebiao1:before {
  content: "\e618";
}

.icon-gouwucheman:before {
  content: "\e619";
}

.icon-huangguan:before {
  content: "\e61a";
}

.icon-chuzu:before {
  content: "\e61b";
}

.icon-zuanshi:before {
  content: "\e61c";
}

